<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qrcode Generator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="bg-gray-300">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">QRCode Generator</h1>
    <form action="/" method="POST" class="bg-white p-6 rounded shadow-md ">
        <div>
            <label for="data" class="block text-gray-600">Enter the Data</label>
            <input class="w-full p-2 border border-gray-400 rounded mt-2" type="text" name="data">
            <button class="bg-blue-500 text-white px-4 py-2 rounded mt-3" type="submit">Generate QR Code</button>
        </div>
    </form>
    </div>
    
    
</body>
</html>